@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #770d65;
  color: #fff;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
}
header,
form {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.2rem 0.5rem;
  font-size: 1.5rem;
  border: 2px solid white;
  background-color: white;
}
form input {
  border-radius: 5px 0 0 5px;
}

form button {
  color: rgb(119, 13, 101);
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0 5px 5px 0;
}

form button:hover {
  color: white;
  background-color: rgb(119, 13, 101);
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}
.todo li {
  flex: 1;
}
.filter-todo {
  border-radius: 5px;
}

.trash-btn,
.complete-btn {
  padding: 00.5rem;
  border: none;
}

.todo-item {
  padding: 0 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
  color: rgb(119, 13, 101);
}
.todo .trash-btn {
  border-radius: 0 5px 5px 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.7;
}
.todo {
  border-radius: 5px 0 0 5px;
  font-size: 1rem;
}
.fall {
  transform: translateY(8rem) rotate(20deg);
  opacity: 0;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: rgb(119, 13, 101);
  width: 10rem;
  cursor: pointer;
  padding: 0.75rem 0.5rem;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background-color: rgb(119, 13, 101);
  border-radius: 0 5px 5px 0;
  top: 0;
  right: 0;
  padding: 0.75rem 0.5rem;
  pointer-events: none;
  transition: all 0.3s ease;
}
.select:hover::after {
  background-color: white;
  color: rgb(119, 13, 101);
}
